.idea/
tutorials/
.DS_Store
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints/

# Python egg
/src/urbansurge.egg-info/
/src/urbansurge/urbansurge.egg-info/
/src/urbansurge/urbansurge_alex_l_young.egg-info/

# Other files.
analysis/lab_system/Output/
analysis/lab_system/precipitation/
tests/test_files/
/src/**/*.inp
/src/**/*.out
/src/**/*.rpt
*.asv
