.idea/
tutorials/
.DS_Store
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints/

# Python egg
/src/urbansurge.egg-info/
/src/urbansurge/urbansurge.egg-info/
/src/urbansurge/urbansurge_alex_l_young.egg-info/
analysis/lab_system/Output/diameter_15_ramp_3in_n20_60min.csv
analysis/lab_system/Output/diameter_16_ramp_3in_n20_60min.csv
analysis/lab_system/Output/diameter_17_ramp_1.2in_n20_60min.csv
analysis/lab_system/Output/diameter_17_ramp_3in_n20_60min.csv
analysis/lab_system/Output/diameter_17_unif_1.2in_n20_60min.csv
analysis/lab_system/Output/diameter_17_unif_1in_n20_60min.csv
analysis/lab_system/Output/diameter_17_unif_3in_n20_60min.csv
analysis/lab_system/Output/diameter_19.csv
analysis/lab_system/Output/diameter_19_ramp_3in_n20_60min.csv
analysis/lab_system/Output/diameter_19_unif_60min.csv
analysis/lab_system/Output/ensemble_ramp_3in_n20_60min.csv
analysis/lab_system/Output/modeled_ramp_3in_n20_60min.csv
analysis/lab_system/Output/Noiseless/diameter_17_ramp_3in_n20_60min.csv
analysis/lab_system/Output/physical_ramp_1.2in_n20_60min.csv
analysis/lab_system/Output/physical_ramp_3in_n20_60min.csv
analysis/lab_system/Output/roughness_54_unif_1in_n20_60min.csv
